{{ form_start(form) }}
<div class="row">
    <div class="col-md-4"><div class="custom_title"><h5>Titre de la formation</h5></div>{{ form_label(form.title, ' ') }}
	{{ form_widget(form.title,{'attr' : {'placeholder' : "Titre de la formation"}}) }}</div>
    <div class="col-md-3"><div class="custom_title"><h5>Date de la formation</h5></div>{{ form_label(form.Date, ' ') }}
	{{ form_widget(form.Date,{'attr' : {'placeholder' : " Date formation"}}) }}</div>
    <div class="col-md-1"><div class="custom_title"><h5>Prix</h5></div>{{ form_label(form.price, ' ') }}
	{{ form_widget(form.price)}}</div>
    <div class="col-md-4"><div class="custom_title"><h5>Catégories</h5></div>{{ form_label(form.category, ' ') }}
	{{ form_widget(form.category)}}</div>
</div>
<hr class="featurette-divider" >
    <div class="row">
        <div class="col-md-6"><div class="custom_title"><h5>Programme de la formation</h5></div>{{ form_label(form.programmeFormmation, ' ') }}
	    {{ form_widget(form.programmeFormmation,{'attr' : {'placeholder' : "Programme formation", 'name' : "title[]",'autocomplete' : "off"}}) }}
        <button id="add_item_link" type="button" class="btn btn-info"> ajouter une ligne </button>
        </div>
        <div class="col-md-6"><div class="custom_title"><h5>Objectif de la formation</h5></div>{{ form_label(form.objectifFormation, ' ') }}
	    {{ form_widget(form.objectifFormation,{'attr' : {'placeholder' : "Objectif formation"}}) }}

        <button id="add_item_link" type="button" class="btn btn-info"> ajouter une ligne </button>
        </div>
    </div>
<hr class="featurette-divider">
<div class="row">
    <div class="col-md-6"><div class="custom_title"><h5>Durée de la formation</h5></div>{{ form_label(form.duration, ' ') }}
	{{ form_widget(form.duration,{'attr' : {'placeholder' : "Durée formation"}}) }}</div>
    <div class="col-md-6"><div class="custom_title"><h5>La formation s'adresse à :</h5></div>{{ form_label(form.forWho, ' ') }}
	{{ form_widget(form.forWho,{'attr' : {'placeholder' : "Pour qui s'adresse la formation"}}) }}</div>
</div>
<hr class="featurette-divider">
<div class="row">
    <div class="col-md-6"><div class="custom_title"><h5>Prérequis de la formation</h5></div>{{ form_label(form.prerequisite, ' ') }}
    <div class="col-md-6"><div class="custom_title"><h5>Lieux : </h5></div>{{ form_label(form.location, ' ') }}
	{{ form_widget(form.location,{'attr' : {'placeholder' : "Ville  formation"}}) }}</h5></div>
</div>
<hr class="featurette-divider">
{{ form_widget(form) }}
<button class="btn btn-primary">{{ button }}</button>
{{ form_end(form) }}


<script type="text/javascript">
    // add row
    document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

  const addFormToCollection = (e) => {
  const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  const item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
};
    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });
</script>