{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="admin-zone">
    </div>
    
<div class="container">
    <div class="custom_title">
    <h2>Créer mon compte</h2></div>
    {{ form_start(registrationForm) }}
    <div class="row">
        <div class="col-md-2">{{ form_row(registrationForm.sex) }}</div>
        <div class="col-md-5">{{ form_row(registrationForm.firstName) }}</div>
        <div class="col-md-5">{{ form_row(registrationForm.lastName) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(registrationForm.email) }}</div>
        <div class="col-md-5">
            <div id="password-check">
                <password-check-component></password-check-component>
            </div>
        </div>
    </div>
    <div style="display: none;">
            <div class="col-md-5">{{ form_row(registrationForm.plainPassword.first)}}</div>
            <div class="col-md-5">{{ form_row(registrationForm.plainPassword.second) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(registrationForm.job) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.phone) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(registrationForm.postalCode) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.city) }}</div>
    </div>
    <div class="row">
        <div class="col-md-8">{{ form_row(registrationForm.street) }}</div>
        <div class="col-md-4">{{ form_row(registrationForm.rppsCode) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(registrationForm.username) }}</div>
        <div class="col-md-8">{{ form_row(registrationForm.profil) }}</div>
    </div>
            {{ form_label(registrationForm.captcha, ' ') }}
			{{ form_widget(registrationForm.captcha) }}

    <div class="rgpd">
        <p>En vous inscrivant sur notre site, vous nous fournissez certaines informations personnelles telles que votre nom, adresse e-mail, etc. Nous utilisons ces informations pour vous fournir un accès à nos services et pour vous envoyer des notifications par e-mail.</p>
        <p>Nous prenons la protection de vos données personnelles très au sérieux et nous nous engageons à respecter les règles énoncées par le Règlement général sur la protection des données (RGPD). Nous ne vendrons ni ne partagerons vos informations personnelles avec des tierces parties à moins d'y être tenus par la loi.</p>
        <p>
        Vous pouvez à tout moment demander la modification ou la suppression de vos informations personnelles en nous contactant à l'adresse e-mail suivante : Exsanasante@gmail.com.
        En vous inscrivant sur notre site, vous acceptez notre Politique de confidentialité et les conditions d'utilisation de notre site.</p>
    </div>
    
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn-primary  -2 btn btn-primary text-light bg-info">Créer mon compte</button>
</div>
        
    {{ form_end(registrationForm) }}
{% endblock %}
