{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="admin-zone">
    </div>
    
<div class="container">
    <div class="custom_title">
    <h2>Créer mon compte</h2></div>
    {{ form_start(registrationForm) }}
    <div class="row">
        <div class="col md-2">{{ form_row(registrationForm.sex) }}</div>
        <div class="col md-5">{{ form_row(registrationForm.firstName) }}</div>
        <div class="col md-5">{{ form_row(registrationForm.lastName) }}</div>
    </div>
    <div class="row">
        <div class="col md-4">{{ form_row(registrationForm.email) }}</div>
        <div class="col md-6">{{ form_row(registrationForm.plainPassword)}}</div>
    </div>
    <div class="row">
        <div class="col md-6">{{ form_row(registrationForm.job) }}</div>
        <div class="col md-6">{{ form_row(registrationForm.phone) }}</div>
    </div>
    <div class="row">
        <div class="col md-6">{{ form_row(registrationForm.postalCode) }}</div>
        <div class="col md-6">{{ form_row(registrationForm.city) }}</div>
    </div>
    <div class="row">
        <div class="col md-8">{{ form_row(registrationForm.street) }}</div>
        <div class="col md-4">{{ form_row(registrationForm.rppsCode) }}</div>
    </div>
    <div class="row">
        <div class="col md-4">{{ form_row(registrationForm.username) }}</div>
        <div class="col md-8">{{ form_row(registrationForm.profil) }}</div>
    </div>
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn-info">Créer mon compte</button>
</div>
        
    {{ form_end(registrationForm) }}
{% endblock %}
