{% extends 'base.html.twig' %}
{% block title %}Formations Exsana {% endblock %}

{% block body %}

<!-- formation  -->
<div class="container">
		<div class="row">
			<div class="col-md-8 obj-formation">
			<br>
			<br>
			<div class="categorie_article">
				Formations de la catégorie {{formation.category.title}}
			</div>
				<div class="title_formation">
					<h1>{{ formation.title}}</h1>
				</div>
				<div class="custom_title">
					<h2>Objectifs de la formation</h2>
				<div id="formation">
					{% set id = 0 %}
					<ul>
					{% for formations in formation.objectifFormation  %}
						<li> {{ formation.objectifFormation[id] | join(',') }}{% set id = id + 1 %}</li>
					{%	endfor	%}
				</ul>
			</div>  
		</div>
	</div>
<div class="container programme-formation">
		<div class="row">
			<div class="col-md-12 formation-programme" name"programmeBody">
				<div class="custom_title">
					<h2>Programme pédagogique</h2>
				</div>
				<ul id="formation">
				{% set id = 0 %}
					<ul>
					{% for formations in formation.programmeFormmation  %}
						<li> {{ formation.programmeFormmation[id] | join(',') }}{% set id = id + 1 %}</li>
					{%	endfor	%}
				</ul>
			</div>
		</div>		
</div>
<div class="container">
	<div class="row mb-2">
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<div class="custom_title"><h5 class="mb-0">PRÉREQUIS</h5></div>
						<ul>
							<li>{{ formation.prerequisite }}</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
						<div class="custom_title"><h5 class="mb-0">LIEUX</h5></div>
					<ul>
						<li> {{ formation.location }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<div class="custom_title"><h5 class="mb-0">DURÉE</h5></div>
						<ul>
							<li>{{ formation.durationFormation}} jours</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
						<div class="custom_title"><h5 class="mb-0">PRIX</h5></div>
					<ul>
						<li> {{ formation.price}}€</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}