{% extends 'base.html.twig' %}

{% block title %}Exsana contact{% endblock %}
{% block meta_description %}Page contacte d'exsana formation{% endblock %}
{% block meta_keywords %}Exsana contact, Exsana coordonné, Formation{% endblock %}
{% block canonical_url %}<link rel="canonical" href="{{ app.request.uri }}" />{% endblock %}

{% block body %}
<div class="admin-zone">
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 obj-formation">
				<div class="title_formation">
					<h1>Vous souhaitez plus d'informations ?</h1>
				</div>
				<ul>
					<li>Vous avez une demande particulière ?</li>
					<li>Merci de remplir le formulaire ci-dessous le plus précisément possible.</li>
					<li>Notre équipe est à votre disposition du lundi au vendredi de 9h à 18h30.</li>
					<li> Nous joindre au 0660466759.</li>
				</ul>
				{% set success_flashes = app.flashes('success') %}
					{% if success_flashes is not empty and success_flashes[0] is defined %}
					<div class="alert alert-success">{{ success_flashes[0] }}</div>
					{% endif %}
			</div>
		</div>
	
	{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
			{{ form_start(formContact) }}

			{{ form_label(formContact.title, ' ') }}
			{{ form_widget(formContact.title,{'attr' : {'placeholder' : "Objet du message"}}) }}
			{% if formContact.title.vars.errors|length %}
          		{% for error in formContact.title.vars.errors %}
              		<div class="alert alert-danger">{{ error.message }}</div>
          		{% endfor %}
      		{% endif %}

			{{ form_label(formContact.Content, ' ') }}
			{{ form_widget(formContact.Content,{'attr' : {'placeholder' : "Message"}}) }}
			{% if formContact.Content.vars.errors|length %}
          		{% for error in formContact.Content.vars.errors %}
              		<div class="alert alert-danger">{{ error.message }}</div>
          		{% endfor %}
      		{% endif %}
		{% else %}
			{{ form_start(formContact) }}

			{{ form_label(formContact.sex, ' ') }}
			{{ form_widget(formContact.sex) }}

			
			{{ form_label(formContact.nickname, ' ') }}
			{{ form_widget(formContact.nickname,{'attr' : {'placeholder' : "Prénom"}}) }}
			{% if formContact.nickname.vars.errors|length %}
          		{% for error in formContact.nickname.vars.errors %}
              		<div class="alert alert-danger">{{ error.message }}</div>
          		{% endfor %}
      		{% endif %}

			{{ form_label(formContact.lastname, ' ') }}
			{{ form_widget(formContact.lastname,{'attr' : {'placeholder' : "Nom"}}) }}
			{% if formContact.lastname.vars.errors|length %}
          		{% for error in formContact.lastname.vars.errors %}
              		<div class="alert alert-danger">{{ error.message }}</div>
          		{% endfor %}
      		{% endif %}

			{{ form_label(formContact.phone, ' ') }}
			{{ form_widget(formContact.phone,{'attr' : {'placeholder' : "Téléphone"}}) }}
			{% if formContact.phone.vars.errors|length %}
          		{% for error in formContact.phone.vars.errors %}
              		<div class="alert alert-danger">{{ error.message }}</div>
          		{% endfor %}
      		{% endif %}

			{{ form_label(formContact.email, ' ') }}
			{{ form_widget(formContact.email,{'attr' : {'placeholder' : "E-mail"}}) }}
			{{ form_errors(formContact.email) }}

			{{ form_label(formContact.profession, ' ') }}
			{{ form_widget(formContact.profession,{'attr' : {'placeholder' : "Profession"}}) }}
			{{ form_errors(formContact.profession) }}

			{{ form_label(formContact.etablissement, ' ') }}
			{{ form_widget(formContact.etablissement,{'attr' : {'placeholder' : "Etablissement"}}) }}
			{{ form_errors(formContact.etablissement) }}

			{{ form_label(formContact.adresse, ' ') }}
			{{ form_widget(formContact.adresse,{'attr' : {'placeholder' : "Adresse"}}) }}
			{{ form_errors(formContact.adresse) }}

			{{ form_label(formContact.postalCode, ' ') }}
			{{ form_widget(formContact.postalCode,{'attr' : {'placeholder' : "Code Postal"}}) }}
			{{ form_errors(formContact.postalCode) }}

			{{ form_label(formContact.city, ' ') }}
			{{ form_widget(formContact.city,{'attr' : {'placeholder' : "Ville"}}) }}
			{{ form_errors(formContact.city) }}

			{{ form_label(formContact.request, ' ') }}
			{{ form_widget(formContact.request,{'attr' : {'placeholder' : "Requète"}}) }}
			{{ form_errors(formContact.request) }}

			{{ form_label(formContact.message, ' ') }}
			{{ form_widget(formContact.message,{'attr' : {'placeholder' : "Ecrivez nous"}}) }}
			{{ form_widget(formContact._token) }}
	{% endif %}
	

	<br>

	<button type="submit" class="btn-primary  -2 btn btn-primary text-light bg-info">Envoyer</button>
	{{ form_end(formContact, {render_rest:false}) }}

	
	
	
</div>
{{ include('theme/_partenaires.html.twig') }}
{% endblock	%}
