{% extends 'base.html.twig' %}
{% block title %}Exsana formation{% endblock %}

{% block body %}

  <!-- formation -->
  <div class="container">
    <div class="page-formation"></div>

    <div class="row core-formation">

      <!--<div class="categorie_article"> CATEGORIE : {{formation.category.title}} </div> -->
      <div class="title_formation">
        <h1>{{ formation.title}}</h1>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 formation">
        <div class="row">
          <div class="col-md-12 obj-formation" name"programmebody"="name"programmebody"">
            <div class="custom_title">
              <h2>OBJECTIF GENERAL</h2>
            </div>
            <ul id="formation">
              {% set id = 0 %}
              {% for formations in formation.objectifFormations %}
                <div class="sub-title-formation">
                  <h2>{{ formations.title|nl2br}}</h2>
                </div>
                <li>
                  {{formations.name|nl2br}}</li>
                <br>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-12 formation-programme">
            <div class="custom_title">
              <h2>PROGRAMME ET OBJECTIFS SP&EacuteCIFIQUES</h2>
            </div>
            <br>
            <br>
            <div id="obj-formation">
              {% set id = 0 %}
              <ul>
                {% for formations in formation.programmeFormations %}
                  <div class="sub-title-formation">
                    <h2>{{ formations.title|nl2br}}</h2>
                  </div>
                  <br>
                  <li>{{ formations.name|nl2br}}</li>
                  <br>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-12 public-acces-formation">
            <div class="custom_title">
              <h2>Public et conditions d'accès</h2>
            </div>
            {{ formation.publicAndAccessCondition|nl2br }}
          </div>
          <div class="param-formation">
            <div class="row mb-2">
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <div class="custom_title">
                      <h5 class="mb-0">PRÉREQUIS</h5>
                    </div>
                    <ul>
                      <li>{{ formation.prerequisite }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <div class="custom_title">
                      <h5 class="mb-0">LIEUX</h5>
                    </div>
                    <ul>
                      <li>{{ formation.location }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <div class="custom_title">
                      <h5 class="mb-0">DURÉE</h5>
                    </div>
                    <ul>
                      <li>{{ formation.durationFormation}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <div class="custom_title">
                      <h5 class="mb-0">PRIX</h5>
                    </div>
                    <ul>
                      <li>{{ formation.price}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <div class="custom_title">
                      <h5 class="mb-0">EVALUATION</h5>
                    </div>
                    <ul>
                      <li>{{ formation.Evaluation}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <div class="custom_title">
                      <h5 class="mb-0">INTERVENANT</h5>
                    </div>
                    <ul>
                      <li>{{ formation.intervenant}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12 sidebar">
        <div class="sidebar-inscription">
          <nav class="navbar-expand  flex-md-column flex-row align-items-center sidebar-formation">
            <div class="title-sidebar-inscription align-items-center">
              <h2>Inscription</h2>
            </div>
            {% if is_granted('ROLE_USER')or is_granted('ROLE_ADMIN') %}
              <div class="container cara-forma-inscription">
                <div class="row">
                  <div class="col-md-4">Lieu :</div>
                  <div class="col-md-6">
                    <select name="lieu">
                      <option value="Paris">{{ formation.location }}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Date :</div>
                  <div class="col-md-6">
                    <select name="session" class="session" required="">
                      <option value="" disabled="" class="hidden">Session</option>
                      <option value="10285" class="">{{ formation.dateFormation}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn-primary  -2 btn btn-primary text-light bg-info" value="">
                      <a href="{{ path('add_participant',{id: formation.id}) }}">Je choisis cette formation
                      </a>
                    </button>
                  </div>
                </div>
              </div>
          {% endif %}
            {% if not is_granted('ROLE_USER')and not is_granted('ROLE_ADMIN') %}
              <div class="container cara-forma-inscription">
                <div class="s_cadre_inscription s_cta">
                  <div class="txt">Connecter vous pour vous inscrire à une session de formation</a>
                  <p class="bouton">
                  <br>
                  <a href="{{ path('app_register') }}" class="btn-primary"><strong>JE M'INSCRIS</strong>
                    <img src="{{ asset('img/svg/icons/registration.svg') }}" style="width: 70px; height: 70px" alt="M'inscrire à la formation">
                  </a>
                </p>
                </div>
                
              </div>
            {% endif %}
          </nav>
          <div id="cadre-infos" class="s_cadre_infos s_cta">
            <div class="row">
              <div class="col-md-12">
              {% if programmePedagoFile %}
                <a href="{{ asset('uploads/pedago/' ~ programmePedagoFile) }}" download><div class="txt">Télécharger le programme complet</div>
                  <img src="{{ asset('img/svg/icons/download-svgrepo-com.svg') }}" style="width: 50px; height: 50px" alt="Télécharger le programme">
                </a>
              {% endif %}
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>


{% endblock %}