{% extends 'base.html.twig' %}

{% block title %}Hello ExanaHomeController!{% endblock %}

{% block body %}
<div class="caroussel>">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url({{ '/img/Slider-HP-1.png'}})">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">First Slide</h3>
          <p class="lead">This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url({{ '/img/Slider-HP-3.png'}})">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Second Slide</h3>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url({{ '/img/visuel-home-profession.jpeg'}})">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Third Slide</h3>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</div>
<div class="description exsana">
  <div class="container">
      <div class="raw">
       <div class="homebody">
        <h1>Home</h1>
        <ul>
          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor inventore facilis, et accusamus libero quo veritatis iste dolorem ut, repudiandae ducimus quisquam illo cum adipisci? Eos velit dignissimos explicabo deleniti officiis architecto nihil tenetur dolorum ipsa minima ad quasi, eaque nesciunt id maiores magni quisquam harum blanditiis quis. Cum, deleniti.</p>
          </li>
          <li>
            <p>Perferendis adipisci quibusdam fugiat, molestias eius dolore quod, iure fuga vitae, saepe libero doloribus! Fugiat dolores mollitia ipsam deleniti, necessitatibus, odit magni ipsum nihil tempora est neque, dolor recusandae doloribus placeat veniam consequatur corporis asperiores tempore quae facilis? Ipsa, velit accusantium vero aliquam, quos iusto possimus quasi exercitationem quod tenetur!</p>
          </li>
          <li>
            <p>Blanditiis, obcaecati quia provident, asperiores ipsum voluptatibus sit voluptate fuga totam alias distinctio, autem fugiat at corporis, officia ipsam tempore labore quasi. Natus, asperiores nam et illo, velit, assumenda dolorum exercitationem tempore nisi vel consequatur nemo accusamus? Accusamus, deleniti. Est quisquam consequuntur sapiente a facilis. Porro itaque, aliquam officiis repellendus.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
    <hr class="featurette-divider">

<!-- DERNIER FORMATIONS -->

<div class="container-fluid">
<div class="title-conteneur">
<h2> Les dernières formations </h2></div>
  <div class="menu-last-formation">
      <div class="row">
        {% for formation in formations %}
          <div class="col md-4">
            <div class="last-formation">
                <div class="p2 d-flex">
                    <a class="full-link" href="{{ path('formation', {id: formation.id}) }}">
                    <h2 class="last-formation-title"><b>{{ formation.title }}</b></h2></a>
                </div>
                  <div class="d-flex align-item-center card-cara">
                    <div class=" last-formation-duration"><img src="{{ '/img/svg/icons/stopwatch.svg' }}">DURÉE : {{ formation.durationFormation }} jours</div>
                    <div class=" last-formation-enseignement">Présentielle</div>
                  </div>
                  <div class="p-2 d-flex d-flex align-items-end">
                    <div class="formation-reference"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>REF: A0A25<</svg>
 REF: A0A25</div>
                  </div>
                </div>
          </div>
						{% endfor %}
      
      </div>
    </div>
</div>

<!--FIN DERNIER FORMATIONS -->

<hr class="featurette-divider">
<div class="container">
        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17979e8979c%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17979e8979c%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17979e8979f%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17979e8979f%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
            </div>
        </div>
    </div>
        <hr class="featurette-divider">
</div>
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h4 class="mb-3 mb-lg-5 bold-text">Nos partenaires</h4>
  </div>
  <div class="row text-center">
      <div class="col-md-4"><img src="{{ '/img/logo-600x214.png' }}" alt="img-SILVERT-&-associé" class="img-fluid" width="30%" id="" alt="Responsive image"></div>
      <div class="col-md-4"><img src="{{ '/img/HemoCue_logo_white_greybackground.png' }}" alt="img-HemoCue" class="img-fluid" width="30%" id="" alt="Responsive image"></div>
      <div class="col-md-4"><img src="{{ '/img/laerdal-logo_en_process-696x365.jpeg' }}" alt="img-laerdal" class="img-fluid" width="30%" id="" alt="Responsive image"></div>
      
    </div>
</div>

        <!-- /END THE FEATURETTES -->

      

{% endblock %}
