{% extends 'base.html.twig' %}

{% block title %}Admin Formulaire Contact{% endblock %}

{% block body %}
<div class="page-formation">
</div>
<div class="container">
    <div class="py-5">
			<div class="title_formation"><h1>Liste Messages formulaire contact</h1></div>
    </div>
</div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4>Messages des utilisateurs inscrits</h4>
            <hr>
            {% for message in messages %}
                <div class="card-cara">
                    <p>
                        <a href="{{ path('app_admin_message_id', {id: message.id}) }}">
                            Utilisateur : {{ message.sex }} {{ message.nickname }} {{ message.lastname }}
                        </a>
                    </p>
                    <p>Téléphone : {{ message.phone }}</p>
                    <p>Email : {{ message.email }}</p>
                    <p>Profession : {{ message.profession }}</p>
                </div>
            {% endfor %}   
        </div>
        <div class="col-md-6">
            <h4>Messages des utilisateurs inconnus</h4>
            <hr>
            {% for message in messagesUnknow %}
                <div class="card-cara">
                    <p>
                        <a href="{{ path('app_admin_message_id', {id: message.id}) }}">
                            Utilisateur : {{ message.sex }} {{ message.nickname }} {{ message.lastname }}
                        </a>
                    </p>
                    <p>Téléphone : {{ message.phone }}</p>
                    <p>Email : {{ message.email }}</p>
                    <p>Profession : {{ message.profession }}</p>
                </div>
            {% endfor %}   
        </div>
    </div>
</div>


						
						
					<!--<div class="pagination"></div>-->
{% endblock %}
