{% extends 'base.html.twig' %}
{% block title %}Formations Exsana {% endblock %}

{% block body %}

<!-- formation  -->
<div class="container">
    <div class="page-formation">
    </div>
	    <div class="title_formation">
		    <h1>{{ message.UserMessage.sex}} {{ message.UserMessage.firstName}} {{ message.UserMessage.lastName}}</h1>
	    </div>

<div class="row core-formation">

<div class="container">
	<div class="row mb-2">
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<div class="custom_title"><h5 class="mb-0">TELEPHONE</h5></div>
						<ul>
							<li>{{ message.UserMessage.phone }}</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
						<div class="custom_title"><h5 class="mb-0">EMAIL</h5></div>
					<ul>
						<li> {{ message.UserMessage.email }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<div class="custom_title"><h5 class="mb-0">PROFESSION</h5></div>
						<ul>
							<li>{{ message.UserMessage.job }}</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
						<div class="custom_title"><h5 class="mb-0">ETABLISSEMENT</h5></div>
					<ul>
						<!-- <li> </li>message.etablissement  -->
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="row mb-2">
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<div class="custom_title"><h5 class="mb-0">ADRESSE</h5></div>
						<ul>
							<li>{{ message.UserMessage.street }}</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
						<div class="custom_title"><h5 class="mb-0">CODE POSTAL</h5></div>
					<ul>
						<li> {{ message.UserMessage.postalCode }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="row mb-2">
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<div class="custom_title"><h5 class="mb-0">VILLE</h5></div>
						<ul>
							<li>{{ message.UserMessage.city }}</li>
						</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
						<div class="custom_title"><h5 class="mb-0">REQUETE</h5></div>
					<ul>
						<li> {{ message.title }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="row mb-2">
		<div class="col-md-12">
			<div class="card flex-md-row mb-4 box-shadow h-md-250">
				<div class="card-body d-flex flex-column align-items-start">
					<div class="custom_title"><h5 class="mb-0">MESSAGE</h5></div>
						<ul>
							<li>{{ message.content }}</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}