<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Exsana santé formation{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-4">
        <div class="col-lg-5 col-md-12 col-sm-12 d-flex">
        <a href="{{ path('exana_home')}}" class="navbar-brand text-uppercase font-weight-bold"><img src="{{ '/img/LOGOS-EXSANA-3.png'}}" alt="img-exsana" class="p-2 img-fluid" id="img-header" alt="Responsive image" ></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="col-lg-7 col-md-12 col-sm-12 d-flex flex-row" id="navbarmenu">
            <div id="navbarSupportedContent" class="collapse navbar-collapse col-md-12">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active"><a href="{{ path('formations') }}" class="nav-link font-weight-bold">Nos formations<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a href="{{ path('whereweare') }}" class="nav-link font-weight-bold">Infos pratiques</a></li>
                    <li class="nav-item"><a href="{{ path('whoweare') }}" class="nav-link font-weight-bold">Exsana</a></li>
                    <li class="nav-item"><a href="{{ path('contact') }}" class="nav-link font-weight-bold">Contact</a></li>
                    {% if not is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link font-weight-bold">Espace membre</a></li>
                    {% endif %}
                   {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item"><a href="{{ path('admin.index') }}" class="nav-link nav-link font-weight-bold">Gestion</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_USER") %}
                        <li class="nav-item dropdown"><a class="nav-link nav-link font-weight-bold dropdown-toggle" href="#" id="navBarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="">Profils<a/>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{path('user.register') }} " class="nav-link font-weight-bold">Mon comptes </a>
                                <a class="dropdown-item" href="{{ path('user.formations') }}" class="nav-link font-weight-bold">Mes formations</a>
                                <a class="dropdown-item" href="{{ path('user.help') }}" class="nav-link font-weight-bold">Aide et assistance</a>
                            </div>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a href="{{ path('logout') }}" class="nav-link nav-link font-weight-bold">Deconnextion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

    <div class="bodyCore">
{% block body %}{% endblock %}
    </div>

<footer>
<div id="fnewsletter">
    <div class="container">
        <div class="row">
            <div class="col-100">
                <div class="conteneur">
                    <div class="col-16">
                        <div><img src="https://www.panacea-conseil.com/wp-content/themes/panacea-conseil/assets/images/picto-newsletter.png" alt=""></div>
                    </div>
                    <div class="col-84">
                        <form id="newsletter-2" class="yikes-easy-mc-form yikes-easy-mc-form-1" method="POST" data-attr-form-id="2">
                            <div class="conteneur_newsletter">
                                <div><label for="inscription_newsletter">Restez informés de nos actualités !</label></div>
                                <div>
                                    <section id="yikes-mailchimp-container-2" class="yikes-mailchimp-container yikes-mailchimp-container-2 ">
                                        <label for="yikes-easy-mc-form-2-EMAIL" class="EMAIL-label yikes-mailchimp-field-required ">
                                                <!-- dictate label visibility -->
                                            <span class="EMAIL-label">Email Address</span>
                                            <input id="yikes-easy-mc-form-2-EMAIL" name="EMAIL" placeholder="" class="form-control" required="required" type="email" value="">
                                        </label>
                                        <!-- Honeypot Trap -->
                                        <input type="hidden" name="yikes-mailchimp-honeypot" id="yikes-mailchimp-honeypot-2" value="">
                                        <!-- List ID -->
                                        <input type="hidden" name="yikes-mailchimp-associated-list-id" id="yikes-mailchimp-associated-list-id-2" value="925a965b65">
                                        <!-- The form that is being submitted! Used to display error/success messages above the correct form -->
                                        <input type="hidden" name="yikes-mailchimp-submitted-form" id="yikes-mailchimp-submitted-form-2" value="2">
                                        <!-- Submit Button -->
                                        <button type="submit" class="btn-primary yikes-easy-mc-submit-button  btn-primary  -2 btn btn-primary text-light bg-info"><span class="yikes-mailchimp-submit-button-span-text">Envoyer</span></button>				<!-- Nonce Security Check -->
                                        <input type="hidden" id="yikes_easy_mc_new_subscriber_2" name="yikes_easy_mc_new_subscriber" value="1706be38c7">
                                        <input type="hidden" name="_wp_http_referer" value="/formations/formations-demarche-qualite-evaluation/">				
                                        <!-- Mailchimp Form generated by Easy Forms for Mailchimp v6.8.6 (https://wordpress.org/plugins/yikes-inc-easy-mailchimp-extender/) -->
                                    </section>
                                </div>
                            </div>
                        <div class="rgpd">
                            Exsana &amp; Formation Santé collecte vos données personnelles uniquement lorsque vous renseignez de vous-même ces informations lors de la complétion d’un de nos formulaires. Les données personnelles que nous recueillons sont utilisées pour vous contacter au sujet de votre demande de renseignements ou votre pré-inscription à l’une de nos formations.</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="bottom-footer">
 <div class="container-fluid pb-3 mb-0 justify-content-center">
         <div class="row text-center my-5 justify-content-center py-5">
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                        <img src="{{ '/img/LOGOS-EXSANA-3.png' }}" alt="img-linkedin" class="img-fluid" width="40%" id="" alt="Responsive image"> 
                </div>
                <div class="col-xl-4 col-md-4 col-sm-4 ">
                        <ul class="list-footer">
                            <li><a href="{{ path('exana_home') }}">Acceuil</a></li>
                            <li><a href="{{ path('formations') }}">Formations</a></li>
                            <li><a href="{{ path('whereweare') }}">Infos pratiques</a></li>
                            <li><a href="{{ path('whoweare') }}">Exsana</a></li>                             
                            <li><a href="{{ path('contact') }}">Contact</a></li>
                            <li><a href="{{path('recrutement') }}">Recrutement</a></li>
                        </ul>
                </div>
                <div class="col-xl-4 col-md-4  col-sm-4 col-12">
                    <h6 class="mb-3 mb-lg-5 bold-text">SUIVEZ-NOUS</h6>
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/soci%C3%A9t%C3%A9-exsana-8ba285251/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                     <!-- <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 "> -->
                        <h6 class="text-muted bold-text"><b></b></h6>
                        <small><span><i class="fa fa-envelope" aria-hidden="true"></i></span></small>
                </div>
        </div>
    </div>
</div>
</footer>
 
    
            <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function() {
    $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    });
    $(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 1 ) {
            $('.navbar').addClass('active');
        } else {
            $('.navbar').removeClass('active');
        }
    });
});
    
    </script>


        
    </body>
    
</html>