{% extends 'base.html.twig' %}

{% block title %}Admin Formulaire Contact{% endblock %}

{% block body %}
  <div class="page-formation"></div>
  {{ include('admin/template/header.html.twig') }}
  <div class="container py-5">
    <div class="title_formation">
      <h1>Liste Messages formulaire contact</h1>
    </div>
    {% for message in app.flashes('success') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}
    <div id="app">
      <div class="row">
        <div class="col-md-5">
          <h4>Messages archivées des users inscrits</h4>
          <hr>
          {% for message in messages %}
            <div class="message-card">
              <p>
                <a href="{{ path('app_admin_message_id', {id: message.id}) }}">
                  <strong>Utilisateur :</strong>
                  {{ message.UserMessage.sex }}
                  {{ message.UserMessage.firstname }}
                  {{ message.UserMessage.lastname }}
                </a>
              </p>
              <p>
                <strong>Téléphone :</strong>
                {{ message.UserMessage.phone }}</p>
              <p>
                <strong>Email :</strong>
                {{ message.UserMessage.email }}</p>
              <p>
                <strong>Profession :</strong>
                {{ message.UserMessage.job }}</p>
                <a class="btn btn-info" href="{{ path('app_admin_message_id', {id: message.id}) }}" role="button">Consulter</a>
              <form method="post" action="{{ path('admin.message.delete.archive', {id: message.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                <button class="btn btn-danger">Supprimer</button>
              </form>
            </div>

          {% endfor %}
        </div>
        <div class="col-md-5 offset-md-2">
          <h4>Messages archivées des users inconnus</h4>
          <hr>
          {% for message in messagesUnknow %}
            <div class="message-card">
              <p>
                <a href="{{ path('app_admin_message_unk_id', {id: message.id}) }}">
                  <strong>Utilisateur :</strong>
                  {{ message.sex }}
                  {{ message.nickname }}
                  {{ message.lastname }}
                </a>
              </p>
              <p>
                <strong>Téléphone :</strong>
                {{ message.phone }}</p>
              <p>
                <strong>Email :</strong>
                {{ message.email }}</p>
              <p>
                <strong>Profession :</strong>
                {{ message.profession }}</p>
                
              <a class="btn btn-info" href="{{ path('app_admin_message_unk_id', {id: message.id}) }}" role="button">Consulter</a>
              <form method="post" action="{{ path('admin.messageUnk.delete.archive', {id: message.id}) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                <button class="btn btn-danger">Supprimer</button>
              </form>
            </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
